/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');

/* GLOBAL */

:root {
    box-sizing: border-box;
}

*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Yuji Boku', serif;
}

/* HEADING */

.brand {
    height: 16rem; 
    width: 100vw; 
    margin: 4rem 0 0; 

    background-image: url('./logo/winfield-eats-logo.svg'); 
    background-position: center; 
    background-size: 90% 90%; 
    background-repeat: no-repeat; 
}

.subtitle {
    margin: 2rem 0 4rem; 
    padding: 0 0 4rem; 
    
    font-size: 3rem; 
    text-align: center; 

    border-bottom: 10px dotted #639; 
}

/* LINKS */

a {
    display: inline-block; 
    width: 50%; 
    height: 50vw; 

    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* CREDIT */

.credit {
    margin: 4rem 0 2rem; 
    padding: 2rem 0 0; 
    
    text-align: center; 
    
    border-top: 10px dotted #639; 
}